/*
RESEARCH CARD STYLES
*/
.projectCard-content {
    width: 90%;
    margin: 1rem auto;
    box-sizing: border-box;
    padding: 0.5rem 2rem;
    background-color: #f6f6f6;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}

.project-image {
    width: 50%;
}

.project-image img {
    width: 300px;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}

#card-title {
    width: 100%;
    text-align: left;
    font-size: 25px;
    color: #750014;
}

.image-description {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.project-description {
    width: 90%;
    box-sizing: border-box;
    padding: 0rem 1rem;
}

#card-description {
    font-weight: 300;
    color: #40464c;
}

/*
RESEARCH INTRO STYLES
*/
.researchIntro-container {
    position: relative;
    width: 80%;
    font-size: 35px;
    font-weight: 300;
    color: #750014;
    padding: 3rem 3rem 0 3rem;
}

/*
LOGO STYLES
*/
.icon-section {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

/*
CONTACT STYLES  
*/
.contact-container {
    position: relative;
    width: 100%;
}

.lab-address {
    margin: 1rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lab-address p {
    margin: 0.3rem 0;
}

.contact-container p {
    font-size: 15px;
    color: #40464c;
}

#container-label {
    font-size: 28px;
    color: #750014;
}

.positions-container {
    margin: 1rem auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.positions-child {
    width: 45%;
    padding: 1rem;
}

.contact-container hr {
    margin: 0 auto;
    width: 70%;
    border: 0.5px solid #40464c;
}

/*
PUBLICATIONS LIST
*/
.publist-content {
    position: relative;
    width: 100%;
}

.article-list {
    padding: 1rem 7%;
}

#articles-year {
    font-size: 37px;
    color: #750014;
    font-weight: 500;
}

.loading-gif {
    display: block;
    width: 300px;
    margin: 0 auto;
}

/*
PUBLICATION CARD
*/
.article-content {
    margin: 2rem 0;
}

.article-content p {
    margin: 0.2rem 0;
}

.article-title {
    font-size: 23px;
    color: #750014;
}

.article-authors {
    font-size: 17px;
    color: #40464c;
}

.article-publication {
    font-size: 15px;
    color: #8b959e;
}

/*
ARTICLE CARD
*/
.button-cited {
    width: 100%;
    display: flex;
}

.article-button {
    color: #750014;
    padding: 0.2rem;
    border: 0.5px solid #750014;
    border-radius: 5px;
}

.article-button {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    transition: border 0.5s, color 0.5s;
}

.article-button:hover {
    color: #ff1423;
    border: 0.5px solid #ff1423;
}

/*
SCHOLARS SECTION
*/
.scholar-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.scholar-title {
    font-size: 28px;
    color: #750014;
}

.past-student-title {
    margin-bottom: 1.5rem;
}

.scholar-list {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 3rem;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -2.5rem;
}

.individual-content {  
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pi {
    width: 90%;
}

.past-student {
    width: 20%;
    margin-top: -1.5rem;
}

.individual-photo img {
    width: 160px;
    border-radius: 100px;
    box-shadow: 0 8px 12px 4px rgba(0, 0, 0, 0.25);
}

.pi-photo img {
    width: 300px;
    border-radius: 200px;
    box-shadow: 0 8px 12px 4px rgba(0, 0, 0, 0.25);
}

#individual-name {
    font-size: 23px;
    color: #750014;
    margin-top: 10px;
    font-weight: 300;
}

#individual-email, #individual-bio {
    font-size: 15px;
    margin-top: -0.1rem;
    color: #6a7177;
}

#individual-bio {
    margin-top: -0.5rem;
}

/*
SELECT PUBLICATIONS STYLES
*/
.publications-content {
    margin-top: 10px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.publication-box {
    width: 85%;
    border-radius: 5px;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.125);
    padding: 1rem;
    font-size: 20px;
    background-color: white;
}

#publications-title {
    font-size: 30px;
    margin-bottom: 1rem;
    text-align: center;
    color: #750014;
    font-weight: 700;
}

.publications-list {
    display: block;
    margin: 0 auto;
    width: 70%;
    color: #40464c;
    list-style: none;
    text-align: center;
}

.publication-item {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.publication-item img {
    margin: 1rem 0;
    width: 400px;
}

.publication-item a {
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: #40464c;
    transition: color 0.5s;
    font-size: 22px;
}

.publication-item p {
    color: #6a7177;
    margin: 5px 0;
    font-size: 18px;
}

.publication-item a:hover {
    color: #750014;
}

.publication-item hr {
    margin-right: 7%;
}

.publications-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    margin-bottom: 1rem;
    text-decoration: none;
    text-align: center;
    width: 30%;
    padding: 0.5rem;
    font-weight: 400;
    color: #750014;
    border: 1.3px solid #40464c;
    border-radius: 10px;
    transition: background-color 0.5s;
}

.button:hover {
    background-color: #f0efef;
}

/*
WELCOME SECTION STYLES
*/
.welcome-content {
    display: flex;
    margin-bottom: -30px;
}

.welcome-description {
    width: 55%;
    color: #40464c;
    font-size: 20px;
    padding: 2rem;
}

.welcome-image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-image img {
    width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 12px 4px rgba(0, 0, 0, 0.25);
}

#welcome-header {
    font-weight: 700;
    color: #750014;
    font-size: 30px;
}

.button-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*
BANNER IMAGE STYLES
*/
.banner-content {
    position: relative;
    width: 100%;
    min-height: 400px;
    overflow: hidden;
}

.banner-image {
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
    transition: transform 0.05s linear;
}

.banner-title {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title p {
    font-weight: bold;
    text-transform: uppercase;
    color: #f0efef;
    background-color: transparent;
    mix-blend-mode: screen;
    padding: 0.5rem 1rem;
}

.banner-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity as needed */
}

/*
NAVBAR STYLES
*/
.nav-contents {
    margin-top: -3rem;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    margin-right: 3rem;
}

.link {
    transition: color 1s;
    text-decoration: none;
    color: #40464c;
    font-size: 18px;
}

#katabi-link {
    left: 1rem;
    position: relative;
    top: 3.2rem;
}

.link:hover {
    color: #750014;
}

.hamburger {
    display: none;
}

.burger-line {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: #8b959e;
    margin-top: 5px;
}

/*
FOOTER STYLES
*/
.footer-copyright {
    margin-top: 30px;
    width: 70px;
    position: absolute;
    right: 5px;
}

@media screen and (max-width: 767px) {
    /*
    PROJECT CARD STYLES
    */
    .image-description {
        flex-direction: column;
    }

    .project-image {
        width: 100%;
    }

    .project-description {
        width: 100%;
        padding: 0;
    }

    /*
    CONTACT STYLES
    */
    .positions-container {
        flex-direction: column;
        align-items: center;
    }

    .positions-child {
        padding: 0;
        width: 80%;
    }

    /*
    PROFILES STYLES
    */
    .profiles-content {
        flex-direction: column;
        align-items: center;
    }

    .group-title {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .individuals-content {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0rem;
    }

    .profile-list {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-list li {
        text-align: center;
    }
    
    /*
    SELECT PUBLICATIONS CONTENT
    */
    .publication-box {
        width: 90%;
        padding: 0;
    }

    .publications-list {
        display: contents;
    }

    .publication-item {
        box-sizing: border-box;
        padding: 0 2rem;
        text-align: center;
    }

    #publications-title {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .button {
        width: 50%;
        margin-bottom: 1rem;
    }

    /*
    WELCOME SECTION CONTENT
    */
    .welcome-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .welcome-description {
        width: 95%;
        text-align: center;
        padding: 0;
    }

    .welcome-image {
        width: 95%;
    }

    /*
    NAVBAR CONTENT
    */
    .nav-contents {
        margin-bottom: 2rem;
    }

    .nav-links {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        background-color: #f0efef;
        max-height: 0px;
        opacity: 0;
        transition: max-height 0.4s ease-in-out, opacity 0s ease-in-out;
        overflow: hidden;
        gap: 0.5rem;
    }

    .hamburger {
        position: absolute;
        right: 40px;
        top: 50px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        cursor: pointer;
    }

    .open {
        opacity: 1;
        margin-top: 3rem;
        max-height: 500px;
        opacity: 1;
    }
}

@media screen and (max-width: 500px) {

    .publication-box {
        border-radius: 0;
        width: 100%;
        border-left: none;
        border-right: none;
    }

    .publication-item img {
        width: 80%;
    }

    .individual-content {
        margin: 0 0.7rem;
    }

    .individual-photo img {
        width: 150px;
    }

    .project-image img {
        width: 100%;
    }

    .researchIntro-container {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .projectCard-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem 2rem;
        border-radius: 0;
    }

    #card-title {
        text-align: center;
    }

    .banner-image {
        background-size: 200%;
        background-position: -10rem 2rem;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 390px) {
    .banner-image {
        background-size: 240%;
        background-position: -11rem 2rem;
        background-repeat: no-repeat;
    }
}