@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    width: 100%;
    font-family: "Manrope", sans-serif;
    background-color: #f0efef;
}

.icon-section {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}